<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppPengguna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <configProtectedData defaultProvider="WasdalProvider">
    <providers>
      <add name="WasdalProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="WasdalKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
    <system.serviceModel>
      <bindings configSource ="Config\svc.wasdal.bindings.exe" />
      <client configSource ="Config\svc.wasdal.client.exe" />
    </system.serviceModel>
    <userSettings>
        <AppPengguna.Properties.Settings>
            <setting name="appTheme" serializeAs="String">
                <value>Office 2013</value>
            </setting>
        </AppPengguna.Properties.Settings>
    </userSettings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\log\Traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>